

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.6em;
	font-family:'Meiryo', 'Hiragino Kaku Gothic ProN', sans-serif;
}

a {
	font-size: 1.4em;
}

#header {
	background: lightskyblue;
}

#header > h1 {
	display: inline-block;
	float: left;
	color: #fff;
	font-size: 4.0em;
	width: 800px;
	margin: 10px;
	margin-left: 30px;
}

#header:after {
	content: "";
	clear: both;
	display: block;
}

#posting_form {
	margin-bottom: 30px;
}

#posting_form > h2, #view_posts > h2 {
	font-size: 1.8rem;
}

input[type="submit"] {
	margin-top: 10px;
}

label {
	font-size:1.4rem;
	margin-right:10px;
}

#error {
	color: red;
}

/* 投稿一覧 ############################*/
ul, li, ul>li>div>p {
	list-style: none;
	font-size: 1.4rem;
	padding:0;
}

/* ページネーション ############################*/
#show_from_to {
	font-size: 1.4em;
}


#paging {
	margin-top: 50px;
}
